{extend name="layout/base" /}
{block name="title"}空包网_空包代发_代发快递空包{/block}
{block name="keywords"}空包网,代发空包,快递单号,快递空包,空包单号,空包代发,51空包网{/block}
{block name="description"}51空包网提供空包单号,快递单号,空包代发等各大快递单号出售,51空包全部记录真实有效,
空包网全国地址任意发,24小时自助下单,快速免费提供底单！最便宜最专业的空包单号网空包代发平台,快递单号一单一用安全可靠!{/block}
{block name="load"}
<script type="text/javascript">
function register_submit(){
	var username = document.getElementById("username").value;
	var password=document.getElementById("password").value;
	var code=document.getElementById("code").value;
	var code_img=document.getElementById("mcImgVC");
	$.ajax({
		url: "{:url('login/index')}",
		type: 'POST',
		data:{buy_name:username,buy_pass:password,code:code},
		dataType: 'json',
		success: function(data){
			
			if(data.code == 2)
			{
				layer.msg(data.msg);
				var code_url = $('#codes').attr('src');
				$('#codes').attr('src', code_url + '?1');
				return false;
				
			}else if(data.code == 3)
			{
				window.location = "{:url('user/index')}";
			}window.location="{:url('user/index')}";
			
		}
	});
}
</script>
{js href="/static/web/js/jquery.marquee.js" /}
<script type="text/javascript">  
$(function(){      
	$("#marquee").marquee({
		yScroll: "bottom",
		showSpeed: 850,
		scrollSpeed: 12 ,
 		pauseSpeed: 5000
 });  
});  
</script>
{/block}

{block name="main"}
{js href="/static/web/js/index.js" /}
<!-- 幻灯片 -->
<div class="bg">
	<div class="flash">
	{empty name=":session('userid')"}
		<div class="indexlogin">
			<h3>会员登录<a href="{:url('Register/index')}">免费注册</a></h3>
			<p><input id="username" type="text" class="username" placeholder="会员帐号"/></p>
			<p><input id="password" type="password" class="password" placeholder="登录密码"/></p>
			<p>
				<input id="code" type="text" class="text_code" autocomplete="off" placeholder="验证码">
				<a href="javascript:;">
				<img src="{:captcha_src()}" alt="captcha" class="layadmin-user-login-codeimg" id="codes" onclick="this.src = this.src + '?1'" width="86" height="34">
			</a>
			</p>
			<p style="margin-top:10px; margin-bottom:6px;"><a href="javascript:register_submit();" class="reg-btn">登 录</a></p>
			<p><a href="{:url('oauthsscall', ['type' => 'qq'])}"><img src="/static/web/images/login/qq_7.png" /></a></p>
		</div>
	{else /}
		<div class="indexlogin2">
			<h3>欢迎回来</h3>
			<p>用户名：{:session('username')}</p>
			<p><a href="{:url('user/index')}">会员中心</a><a href="{:url('user/pass')}">修改密码</a><a href="{:url('user/info')}">修改资料</a></p>
			<p><a href="{:url('user/pay')}">在线充值</a><a href="{:url('user/mingxi')}">资金明细</a><a href="{:url('vip/index')}">升级会员</a></p>
			<p><a href="{:url('user/buy_pl')}">购买空包</a><a href="{:url('user/bag')}">已买空包</a><a href="{:url('order/index')}">申请底单</a></p>
			<p><a href="{:url('login/logout')}" class="reg-btn">退出登录</a></p>
		</div>
	{/empty}
		<div class="banner">
			<div class="banner-btn" style="display: none;">
			<a href="javascript:;" class="prevBtn" style="opacity: 0.3;"><i></i></a> 
			<a href="javascript:;" class="nextBtn"><i></i></a>
			</div>
			<ul class="banner-img" style="">
				
				<li><a href="{:url('user/buy')}" target="_blank"><img src="/static/upload/banner3.jpg" width="1200" height="386"></a></li>
				<li><a href="{:url('user/pay')}" target="_blank"><img src="/static/upload/banner4.jpg?20170606" width="1200" height="386"></a></li>
				<li><a href="{:url('friends/index')}" target="_blank"><img src="/static/upload/banner5.jpg" width="1200" height="386"></a></li>
			</ul>
			<ul class="banner-circle"></ul>
		</div>
	</div>
</div>
<!-- /幻灯片 -->

<div class="gdbg" >
	
	<ul id="marquee">
		<div class="newgd">51空包网最新下单会员：</div>
		
		<li>
			{volist name="gd" id="vo" offset="1" length='3'}
			<span>{$vo.name} 已下单购买 <font color="#FFFF00">{$vo.kd}</font> {$vo.create_time}</span>
			{/volist}
		</li>
		<li>
			{volist name="gd" id="vo" offset="4" length='3'}
			<span>{$vo.name} 已下单购买 <font color="#FFFF00">{$vo.kd}</font> {$vo.create_time}</span>
			{/volist}
		</li>
		<li>
			{volist name="gd" id="vo" offset="7" length='3'}
			<span>{$vo.name} 已下单购买 <font color="#FFFF00">{$vo.kd}</font> {$vo.create_time}</span>
			{/volist}
		</li>
		<li>
			{volist name="gd" id="vo" offset="10" length='3'}
			<span>{$vo.name} 已下单购买 <font color="#FFFF00">{$vo.kd}</font> {$vo.create_time}</span>
			{/volist}
		</li>
	</ul>
</div>

<!-- 宣传语 -->
<div class="slogan">
   <div class="slogan-con">
	<div class="sl-cons img1">
	  <p class="slc-title">顶级空包供应商</p>
	  <p class="slc-caption">顶级渠道商，快递空包单号价格业内最低，<br />价格体现实力！</p>
	</div>
	<div class="sl-cons img2">
	  <p class="slc-title">7X24小时在线自动充值</p>
	  <p class="slc-caption">支持支付宝、财付通全自动充值，<br />一步到账，无需填写交易号。</p>
	</div>
	<div class="sl-cons img3">
	  <p class="slc-title">一单一用，真实物流</p>
	  <p class="slc-caption">真实淘宝、京东跟踪记录,<br />提供真实底单保证一单一用，安全可靠!</p>
	</div>
  </div>
</div>
<!-- /宣传语 -->
  
<div class="fbg">
    <div class="center"> 
    
    <!-- 快递推荐 -->
    <div class="index-hot">
        <div class="index-title">快递推荐<span>真实淘宝跟踪记录,提供真实底单保证一单唯一使用，安全可靠!</span></div>
            <ul>
                <li>           
                <p class="kdlogo"><img src="/static/upload//kb/56f17112af3b6.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>龙邦速递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.00</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">1.90</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">1.80</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">龙邦速递（淘宝天猫）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/yt124515666.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>圆通快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.70</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">2.65</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">2.60</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">圆通快递（淘宝天猫）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/56f17125bfdc9.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>天天快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.20</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">2.10</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">2.00</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">天天快递（支持淘宝、天猫、阿里）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/yf115612345.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>亚风快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">1.80</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">1.70</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">1.60</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">亚风快递（淘宝天猫）全国发全国，在淘宝后台请选择"亚风-全国-配送"。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/ys851234856.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>优速快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.10</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">2.00</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">1.90</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">优速快递（淘宝天猫）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/kjkdasd.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>快捷快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.00</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">1.90</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">1.80</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">快捷快递（淘宝天猫）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/sto1251251.jpg" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>申通快递(淘宝天猫)</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.30</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">2.20</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">2.10</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">申通快递（淘宝天猫）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li><li>           
                <p class="kdlogo"><img src="/static/upload//kb/bskd523124.jpg	" height="65" width="170" onerror="javascript:this.src='/static/upload/wu.jpg';"/></p>
                <p>百世快递(淘宝天猫)	</p>
                <dl class="levelmoney">
                    <dt><span>黄金会员</span><br/><span class="wow">2.20</span>元/单</dt>
                    <dt><span>铂金会员</span><br/><span class="wow">2.10</span>元/单</dt>
                    <dt style="border-right:none;"><span>钻石会员</span><br/><span class="wow">2.00</span>元/单</dt>
                    <div class="clear"></div>
                </dl>
                <p class="buy"><a class="click-pop" href="/user/buy.html">立即购买</a></p>
                <p class="comm">百世快递（支持淘宝/天猫/阿里）全国发全国，官网和淘宝都有物流记录，物流完美。</p>
                </li>            </ul>
        <div class="clear"></div>
    </div>
    <!-- /快递推荐 -->


    <div class="article">
        <div class="article-l">
            <div class="index-title">电商资讯</div>
            <ul>
                {volist name="article" id="vo"}
                <li>
                    <p><a target="_blank" href="{:url('article/view', ['id' => $vo.id])}">{$vo.title}</a></p>
                    <p class="article-jj">{$vo.content|html_dcode|msubstr=0,70, 'utf-8', true}</p>
                </li>
                {/volist}
            </ul>
            <div class="clear"></div>
        </div>
        
        <div class="article-r">
            <div class="index-title">公告<i><a href="{:url('article/index')}">更多</a></i></div>
            <ul>
                {volist name="gg" id="vo"}
                <li><a target="_blank" href="{:url('article/view', ['id' => $vo.id])}">{$vo.title}</a></li>
                {/volist}
            </ul>
            <div class="clear"></div>
        </div>
    	<div class="clear"></div>
    </div>
    
    
    </div>
</div>
{/block}