{extend name="layout/base" /}
{block name="main"}
	<div class="layui-fluid">
			<div class="layui-form">

				<div class="layui-input-inline layui-col-space5">
						<div class="layui-input-inline">
							<input class="layui-input" type="text" name="user_id" value="" placeholder="会员ID" id="uidReload">
						</div>
						<div class="layui-input-inline">
							<input class="layui-input" type="text" name="username" value="" placeholder="会员名称" id="usernameReload">
						</div>
					
						<div class="layui-input-inline">
							<button class="layui-btn akali" data-type="reload">搜索<button>
						</div>
					</div>	
				</div>
		  <div class="layui-card-body layui-col-space5">
			<div class="layui-input-inline">
				<a class="{$status == '' ?  'layui-btn' : 'layui-btn layui-btn-primary'} layui-btn-sm" href="{:url('')}">全部<a>
			</div>
			<div class="layui-input-inline">
				<a class="{$status == 2 ?  'layui-btn' : 'layui-btn layui-btn-primary'} layui-btn-sm" href="{:url('', ['status' => '2'])}">提现成功<a>
			</div>
			<div class="layui-input-inline">
				<a class="{$status == 3 ?  'layui-btn' : 'layui-btn layui-btn-primary'} layui-btn-sm" href="{:url('', ['status' => '3'])}">提现失败<a>
			</div>
		
		  </div>
		<table id="layui_user" lay-filter="user"></table>

	</div>
		
		

	
	{js href="/static/admin/layuiadmin/layui/layui.js" /}
	<script type="text/html" id="statusTpl">
		{{# if(d.status == 1){ }}
		<span class="layui-badge">未处理</span>
		{{# }else if(d.status == 2){ }}
			<span class="layui-badge layui-bg-green">已处理</span>
			{{# }else if(d.status == 3){ }}
			<span class="layui-badge layui-bg-black">失败</span>
		{{# }}}
	</script>
	
	<script type="text/html" id="editTpl">
		{{# if(d.status == 1){ }}
		<a class="layui-btn layui-btn-xs" onclick="edit({{ d.id }},2)">审核通过</a>
		<button class="layui-btn layui-btn-xs layui-bg-black" lay-event="edit">不通过</button>

		{{# }else { }}
		——
		{{# }}}
	</script>
	
	<script type="text/html" id="moneyTpl">
		<span style="color:#009688">{{ d.money }}元</span>
	</script>
	
	<script type="text/html" id="usernameTpl">
		<a href="javascript:;" lay-event="username" style="color:#01AAED;">{{ d.username }}[{{ d.bid }}]</a>
	</script>


	<script type="text/html" id="dispose_timeTpl">
		{{# if(d.dispose_time){ }}
		{{ d.dispose_time }}
		{{# }else { }}
		——
		{{# }}}
	</script>

	<script type="text/html" id="award_money">
		{{# if(d.award_money >= d.consume_money){ }}
			<font color="#FF0000">
				{{ d.award_money }}</font>
		{{# }else { }}
			{{ d.award_money }}
		{{# }}}/
		{{ d.consume_money }}
	</script>
	
	<script type="text/html" id="moneyTpl">
		<span style="color:#009688">{{ d.money }}元</span>
	</script>
	<script>
	layui.use(['jquery', 'layer','table','flow','form','laypage'], function(){
		var table = layui.table
		,$ = layui.$
		,layer = layui.layer
		,flow = layui.flow
		,form = layui.form
		,laypage = layui.laypage
		
		
		// 第一个实例
		table.render({
				elem: '#layui_user'
				,url: "{:url('index_data', ['user_id' => $user_id, 'username' => $username, 'number' => $number, 'status' => $status])}" //数据接口
				,page: true //开启分页
				,id: 'user' 
				,limit: 20
				,limits: [20, 100, 200, 500]
				,size: 'sm'
				,cols: [[ //表头
					{field: 'id', title: 'ID', width:150, sort: true, fixed: 'left'}
					,{field: 'username', title: '用户名[用户id]',  templet: '#usernameTpl'} 
					,{field: 'name', title: '收款姓名'}
					,{field: 'alipay', title: '账号'}
					,{field: 'money', title: '金额', templet:'#moneyTpl',sort: true}
					,{field: 'ip', title: 'IP'}
					,{field: 'create_time', title: '提现时间', sort: true} 
					,{field: 'dispose_time', title: '操作时间', sort: true,templet: '#dispose_timeTpl'}
					,{field: 'status', title: '提现状态',  templet: '#statusTpl'}
					,{field: 'edit', title: '操作', templet: '#editTpl',fixed: 'right'}
				]]
			});
		
		//监听排序事件 
		table.on('sort(user)', function(obj){
			console.log(obj.field);
			console.log(obj.type);
			console.log(this);
			
			table.reload('user', {
				initSort: obj
				,where: {
					field: obj.field
					,order: obj.type
				}
			});
			
		});
		
		var $ = layui.$, active = {
			reload: function(){
				var uidReload = $('#uidReload');
				var usernameReload = $('#usernameReload');
				var orderReload = $('#orderReload');
				
				//执行重载
				table.reload('user', {
					where: {
						user_id:uidReload.val(),
						username:usernameReload.val(),
						number:orderReload.val(),
					}
				});
			}
		};
		
		//点击事件
		$('.akali').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
		
		
		//监听工具条
		table.on('tool(user)', function(obj){
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

			if(layEvent === 'username')
			{ 
				window.location.href = "{:url('user/index')}?id=" + data.user_id;
			}else if(layEvent === 'status')
			{
				
			}
			if(layEvent === 'edit')
			{
				// window.location.href = "{:url('edit')}?id=" + data.id;
				layer.open({
					type: 2,
					title: '失败原因',
					content: '{:url("tixian_edit")}?id=' + data.id + '&status=' + 3,
					shadeClose: true,
					shade: [0.8, '#000000'],
					area: ['600px', '500px'],
				});
			}
		
		});
		
	
	});
	
	function edit(id, status)
	{
		window.location.href = "{:url('edit')}?id=" + id + '&status=' + status;
	}
	</script>
{/block}