{extend name="layout/base" /}
{block name="main"}
  <div class="layui-fluid">
	<form class="layui-form" action="" method="post">
		<div class="layui-col-sm12 layui-col-md-offset1">
			{foreach $node as $value}
			<div class="rbac">
				<div class="title">
					<input type="checkbox" name="node[]" value="{$value.id}" lay-skin="primary" title="{$value.title}" lay-filter="node" {in name="$value.id" value="$roleNode"}checked{/in}>
				</div>
				<ul class="rabc-ul">
					{notempty name="value.child"}
					{foreach $value.child as $val}
					<li>
						<input type="checkbox" name="node[]" value="{$val.id}" lay-skin="primary" title="{$val.title}" lay-filter="nodes" {in name="$val.id" value="$roleNode"}checked{/in}>
					</li>
					{/foreach}
					{/notempty}
				<ul>
			</div>
			{/foreach}
			<div class="layui-row layui-col-sm10 layui-col-md-offset0" style="margin-bottom:20px;">
				<div class="layui-col-md9">
					 <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				</div>
			</div>
		</div>
	</form>
  </div>

  {js href="/static/admin/layuiadmin/layui/layui.js" /} 
  <script>
	layui.use(['jquery', 'layer', 'table', 'flow', 'form', 'tree'], function(){
		var table = layui.table
		,$ = layui.$
		,layer = layui.layer
		,flow = layui.flow
		,form = layui.form
		,tree = layui.tree
		
	
		form.on('checkbox(node)', function(data){
			console.log(data.elem); //得到checkbox原始DOM对象
			console.log(data.elem.checked); //开关是否开启，true或者false
			console.log(data.value); //开关value值，也可以通过data.elem.value得到
			console.log(data.othis); //得到美化后的DOM对象
			
			var check = data.elem.checked;
			$(data.elem).parents('.rbac').find('ul input').prop('checked', check);
			form.render();
			
		}); 
	
		form.on('checkbox(nodes)', function(data){
			console.log(data.elem); //得到checkbox原始DOM对象
			console.log(data.elem.checked); //开关是否开启，true或者false
			console.log(data.value); //开关value值，也可以通过data.elem.value得到
			console.log(data.othis); //得到美化后的DOM对象
			
			var length = $(data.elem).parents('ul').find('input[type="checkbox"]:checked').length;
			if(length < 1)
			{
				$(data.elem).parents('.rbac').find('.title input').prop('checked', false);
			}else
			{
				$(data.elem).parents('.rbac').find('.title input').prop('checked', true);
			}
			
			form.render();
		}); 
		
		//监听提交
		form.on('submit(formDemo)', function(data){
			layer.msg(json.stringify(data.field));
			return false;
		});
		
		/*
		form.render(); //更新全部
		form.render('checkbox'); //刷新select选择框渲染	
		form.render(null, 'test1'); //更新 lay-filter="test1" 所在容器内的全部表单状态
		form.render('checkbox', 'test2'); //更新 lay-filter="test2" 所在容器内的全部 select 状态
		
		$('.title .layui-form-checkbox').click(function(){
			alert('阿卡丽');
		});
		
		$('.rabc-ul .layui-form-checkbox').click(function(){
			alert('锐雯');
		});
		*/
	}); 
	
	
  </script>
{/block}














