{extend name="layout/base" /}
{block name="main"}
	<div class="layui-fluid">
				<div class="layui-form">
						<div class="layui-input-inline">
							<input class="layui-input" type="text" name="title" value="" placeholder="标题" id="titleReload">
						</div>
						<div class="layui-input-inline" style="float:right;">
								<a href="{:url('link_add')}" class="layui-btn  layui-btn-danger akali" data-type="reload">添加链接<a>
							</div>
						<div class="layui-input-inline">
							<button class="layui-btn akali" data-type="reload">搜索<button>
						</div>
					</div>

		<table id="layui_user" lay-filter="user"></table>

	</div>
		
		
		
		
	
	{js href="/static/admin/layuiadmin/layui/layui.js" /}

	
	<script type="text/html" id="checkTpl">
		{{# if(d.check_time){ }}
		{{ d.check_time }}
		{{# }else { }}
		——
		{{# }}}
	</script>
	<script type="text/html" id="editTpl">
		<button class="layui-btn layui-btn-xs" lay-event="edit">修改</button>
		<button class="layui-btn layui-btn-xs layui-bg-black" lay-event="del">删除</button>
	</script>

	<script>
	layui.use(['jquery', 'layer','table','flow','form','laypage'], function(){
		var table = layui.table
		,$ = layui.$
		,layer = layui.layer
		,flow = layui.flow
		,form = layui.form
		,laypage = layui.laypage
		
		
		// 第一个实例
		table.render({
			elem: '#layui_user'
			,url: "{:url('index_data', ['number' => $number])}" //数据接口
			,page: true //开启分页
			,id: 'user' 
			,limit: 20
			,limits: [20, 100, 200, 500]
			,size: 'sm'
			,cols: [[ //表头
				{field: 'id', title: 'ID', width:150, sort: true, fixed: 'left'}
				,{field: 'title', title: '标题'} 
				,{field: 'url', title: '网站链接'}
				,{field: 'weight', title: '权重'}
				,{field: 'create_time', title: '创建时间', sort: true} 
				,{field: 'edit', title: '操作 ', width:130, templet: '#editTpl', fixed: 'right'}
			]]
		});
		
		//监听排序事件 
		table.on('sort(user)', function(obj){
			console.log(obj.field);
			console.log(obj.type);
			console.log(this);
			
			table.reload('user', {
				initSort: obj
				,where: {
					field: obj.field
					,title: obj.type
				}
			});
			
		});
		
		var $ = layui.$, active = {
			reload: function(){
				var uidReload = $('#uidReload');
				var usernameReload = $('#usernameReload');
				var titleReload = $('#titleReload');
				
				//执行重载
				table.reload('user', {
					where: {
						id:uidReload.val(),
						username:usernameReload.val(),
						number:titleReload.val(),
					}
				});
			}
		};
		
		//点击事件
		$('.akali').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
		
		
		//监听工具条
		table.on('tool(user)', function(obj){
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

			if(layEvent === 'username')
			{ 
				window.location.href = "{:url('user/index')}?id=" + data.id;
			}
			
			if(layEvent === 'edit')
			{ 
				layer.open({
					type: 2,
					title: '链接修改',
					content: '{:url("link_edit")}?id=' + data.id,
					shadeClose: true,
					shade: [0.8, '#000000'],
					area: ['1000px', '600px'],
				});
			}
			if(layEvent === 'del')
			{ 
				layer.confirm('确定要删除此链接吗', function(index){
					window.location.href = "{:url('link_del')}?id=" + data.id;
					layer.close(index);
				});
			}
		});
		
	
	
	});
	
	function edit(id)
	{
	}
	</script>
{/block}














