<div id="rightButton" style="right: 0px;">
    <ul id="right_ul">
        <li id="right_qq" class="right_ico" show="qq" hide="tel"></li>
        <!--<li id="right_tel" class="right_ico" show="tel" hide="qq"></li>-->
        <li id="right_tip" class="png" style="top: -10px; display: none;">
            <!--<p class="flagShow_p1 flag_tel" style="display: none;">联系电话</p>
            <p class="flagShow_p2 flag_tel line91" style="display: none;">170-1730-2254</p>-->
            <p class="flagShow_p1 flag_qq" style="display: block;">在线客服</p>
            <p class="flagShow_p2 flag_qq" style="display: block;"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=99399683&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" src="/static/web/images/onlineQQ.png"></a> <span>99399683</span></p>
        </li>
        <li>
			<div id="backToTop" style="display: none;"><a href="javascript:;" onfocus="this.blur();" class="backToTop_a png"></a></div>
		</li>
    </ul>
</div>

{js href="/static/web/js/tab.js" /}


<div class="clear"></div>
<div class="footer">
	<div class="about">
    	<a href="{:url('help/view', ['id'=>'445'])}" target="_blank">关于我们</a>
        <a href="{:url('help/view', ['id'=>'444'])}" target="_blank">合作洽谈</a>
		<a href="{:url('help/view', ['id'=>'443'])}" target="_blank">客服中心</a>
		<a href="{:url('help/view', ['id'=>'442'])}" target="_blank">联系我们</a>
		客服QQ：99399683 工作时间:9:00-21:00
    </div>
	<div class="copyright">&copy; 2016 <a href="http://www.51kongbaoo.com">51空包网</a> www.51kongbaoo.com 粤ICP备16069954号-1 Powered by kongbao. 使用1280x720以上的分辨率能更好的使用本站购买空包 <script src="https://s95.cnzz.com/z_stat.php?id=4289049&web_id=4289049" language="JavaScript"></script></div>

    <div class="footer-m4">
        <ol>
            <li class="footer-m4-1"><a href="javascript:void(0)" target="_blank"></a></li>
            <li class="footer-m4-3"><a href="javascript:void(0)" target="_blank"></a></li>
            <li class="footer-m4-4"><a href="javascript:void(0)" target="_blank"></a></li>
            <li class="footer-m4-6"><a href="javascript:void(0)" target="_blank"></a></li>
            <li class="footer-m4-5"><a herf="javascript:void(0)" target="_blank"></a></li>
        </ol>
    </div>
    
</div>