<div class="user_left">
	
    <dl>
    	<dt>补单推荐</dt>
        <dd><a href="http://www.51lingla.com" target="_blank" style="color:#ff0000">淘宝补单发布</a></dd>
        <dd><a href="http://www.51baobeio.com" target="_blank" style="color:#ff0000">天猫补单发布</a></dd>


    </dl>

	<dl>
    	<dt>我的业务</dt>
        <dd><a href="{:url('bag/buy_pl')}">批量购买空包</a><span><a href="{:url('bag/buy')}">单个购买</a></span></dd>
        <dd><a href="{:url('bag/index')}">已买到的空包</a></dd>
        <dd><a href="{:url('user/address')}">设置发货地址</a></dd>
        <dd><a href="{:url('order/index')}">申请底单</a></dd>
        <dd><a href="{:url('order/record')}">已申请的底单</a></dd>
    </dl>
    
    <dl>
    	<dt>财务管理</dt>
        <dd><a href="{:url('pay/index')}">在线充值</a></dd>
        <dd><a href="{:url('pay/record')}">充值记录</a></dd>
        <dd><a href="{:url('mingxi/index')}">资金明细</a></dd>
        <dd><a href="{:url('tixian/account')}">绑定提现帐号</a></dd>
        <dd><a href="{:url('tixian/index')}">我要提现</a></dd>
        <dd><a href="{:url('tixian/record')}">提现记录</a></dd>
    </dl>
    
    <dl>
    	<dt>邀请奖励</dt>
    	<dd><a href="{:url('friends/index')}">我的好友</a></dd>
        <dd><a href="{:url('friends/reward')}">奖励明细</a></dd>
        <dd><a href="{:url('friends/invitation')}">获取邀请好友链接</a></dd>
    </dl>
    
    <dl>
    	<dt>帐号管理</dt>
        <dd><a href="{:url('user/vip')}">升级会员</a></dd>
        <dd><a href="{:url('user/apilogin')}">绑定第三方帐号</a></dd>
        <dd><a href="{:url('user/info')}">修改资料</a></dd>
        <dd><a href="{:url('user/pass')}">修改密码</a></dd>

    </dl>
</div>

