<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/static/admin/images/chuyin.ico">
<title>{block name="title"}空包{/block} - 51空包网</title>
<meta name="keywords" content="{block name="keywords"}{/block}">
<meta name="description" content="{block name="description"}{/block}">
<meta name="author" content="51kongbaoo">
{css href="/static/web/css/style.css" /}
{css href="/static/web/css/index.css" /}
{css href="/static/web/css/user.css" /}	
{js href="/static/web/js/jquery-1.8.2.min.js" /}
{js href="/static/web/js/layer.js" /}
{block name="load"}{/block}
</head>
<body>
{include file="layout/header" /}
{block name="main"}{/block}
{include file="layout/footer" /}
</body>
</html>