{extend name="layout/userbase" /}
{block name="title"}我要提现{/block}
{block name="load"}
<script type="text/javascript">
function save(){
	var money = $('#money').val();
	var alipay       = $('#alipay').val();
	var name         = $('#name').val();

	if(!money){
		alert('请输入提现金额');
		return;
	}
	$.ajax({
        url: "{:url('')}",
		type: 'POST',
		data:{money:money,alipay:alipay,name:name},
		dataType: 'json',
		success: function(data){
			if(data.code !=0 )
			{
				layer.alert(data.msg, {icon:2});
				return false;
			}
			
			layer.msg(data.msg, {icon:1});
			setTimeout(function(){
				window.location = "{:url('tixian/record')}";
			},1001);
			
		}
	});
}
</script>
{/block}
{block name="main"}
<div class="user">
	<div class="user_index">
    	{include file="layout/top" /}
		{include file="layout/left" /}
        <div class="user_right">
        
        	<div class="user_title">我要提现</div>
            <div class="user_text">
            	<dl>
                	<dt>提现用户名：</dt>
                    <dt>账户金额：</dt>
                    <dt>提现金额：</dt>
                    <dt>账户类型：</dt>
                    <dt>提现账号：</dt>
                    <dt>账户姓名：</dt>
                    <dt></dt>
                </dl>
                
                <dl>
                	<dd><input name="username" disabled="disabled" type="text" value="{$user.username}" /></dd>
                    <dd><input name="money" disabled="disabled" type="text" value="{$user.money}" /></dd>
                    <dd><input id="money" name="money" type="text" class="val" value="" /></dd>
                    <dd><select name="type" class="ec_linkSelect"><option value="1">支付宝</option></select></dd>
                    <dd><input disabled="disabled" name="alipay" id="alipay"type="text" value="{$user.alipay}" /> {empty name="user.alipay"}<a href="{:url('tixian/account')}">添加提现账户</a>{/empty}</dd>
                    <dd><input disabled="disabled" name="name" id="name" type="text" value="{$user.name}" /></dd>
                    <dd><a class="qr" href="javascript:save()">确认提现</a></dd>
                </dl>
                <div class="clear"></div>
            </div>
            
            <div class="user_ts">
            	<p>提现须知</p>
                <p class="red">★每次最低提现金额10元，提现金额必须是1的整数倍。</p>
                <p class="red">★申请提现后，财务会在48小时内处理完成您的提现申请，请在48小时后查询您的收款账号确认是否收到款项。</p>
                <p class="red">★提现申请，每周可以申请一次提现，再次申请提现必须要超过1个礼拜才可以申请，请了解。</p>
                <p class="red">★如果还有正在处理的提现申请，此时是无法再次申请提现的，只有等提现处理完成才能再次申请提现。</p>
                <p class="red">★如果出现提现失败，一般可能是您的收款账号关闭了收款功能，或者是您的收款账号填写错误，导致财务无法给您转账造成。此时请联系客服询问情况。</p>
            </div>
        
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{/block}